name: Publish NuGet

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag (vX.Y.Z)"
        required: true
        type: string
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag || github.ref }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack
        run: dotnet pack /home/runner/work/BenjaminBiber.PSM-Api/BenjaminBiber.PSM-Api/BenjaminBiber.PSM-Api/BenjaminBiber.PSM-Api.csproj --configuration Release --no-build --output ./artifacts

      - name: Push
        run: dotnet nuget push "./artifacts/*.nupkg" --api-key "${{ secrets.NUGET_API_KEY }}" --source "https://api.nuget.org/v3/index.json" --skip-duplicate
